body {
    background: #009688;
}

html, body {
    width: 100%;
    min-height: 100%;
}


footer {
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
    background: #4DB6AC;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: inherit;
}