<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head'); %>
</head>
<style>
    body {
        background: #009688;
    }

    html,
    body {
        width: 100%;
        min-height: 100%;
    }


    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: inherit;
    }
    img {
        width: 300px;
        height:300px;
    }


</style>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <div class="mt-5 container text-center">
        <p class="text-dark display-2">Welcome</p>
        <img src="https://i.ibb.co/n6yrvPD/cover.webp" class="front rounded-circle mx-auto d-block" alt="...">
    </div>
    <p class="mt-5 display-4 text-center">
        <%= (message) ? message : '' %>
    <% if (id) { %>
        <p class="display-5 text-center"> Find me at <code>/greet/<%= id %></code></p>
        <% } %>

            <!--script defer src="js/greet.js"></script-->
</body>

</html>