<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head'); %>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/login.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />

</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <%- include('./partials/login-form'); %>

        <script defer src="js/login.js"></script>
        <script src="https://kit.fontawesome.com/4cd539e702.js" integrity="" crossorigin="anonymous"></script>
</body>

</html>