<div class=" d-flex justify-content-center align-items-center input-group  mt-5">

	<div class="justify-content-center">
		<form class="loginform" action="/" method="post">

			<span class="mt-3 input-group-text"><i class="fas fa-user"></i><a class="px-2 username"></a></span>
			<span>
				<input type="text" name="name" class="user form-control" placeholder="Username">
			</span>
			<span class="mt-3 input-group-text"><i class="fas fa-envelope"></i><a class="px-2 emailtext"></a></span>
			<span>
				<input type="email" autocomplete="off" name="emailid" class="emailid form-control" placeholder="Email">
			</span>
			<button class="mt-3 btn btn-primary login" type="submit" value="Login">
				<i class="fas fa-sign-in-alt"></i></button>
		</form>

	</div>
</div>
<div class="text-center mt-5 load-3" style="display: none;">
	<div class="line"></div>
	<div class="line"></div>
	<div class="line"></div>
</div>